.container-title-bar {
  padding-top: 24px;
  padding-bottom: 24px;
  text-align: center;
}

/* 
==================
Toolbar
==================
*/

.container-row {
  max-width: 1280px;
  margin: 0 auto;
}

.game-title {
  font-size: 42px;
  font-weight: bold;
  padding-left: 24px;
}

.container-toolbar {
  border-top: 1px solid #bfbfbf;
  border-bottom: 1px solid #bfbfbf;
}

.flex-toolbar-content {
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
}

.toolbar-button {
  font-size: 18px;
  line-height: 30px;
  color: #959595;
}

.toolbar-button-selected {
  color: black;
  font-weight: bold;
}

.difficulty {
  font-weight: bold;
  padding-top: 10px;
}

/* 
==================
Game Field
==================
*/
.flex-game-field {
  display: flex;
  justify-content: center;
  margin: 40px;
}

/* 
==================
Sudoku Table
==================
*/

.sudoku-table {
  border: 5px solid black;
}

.sudoku-table-row-seperator {
  border: 1px solid #959595;
  border-bottom-color: black; 
  border-bottom-width: 5px;
}

.sudoku-table-cell {
  border: 1px solid #959595;
  height: 2em;
  width: 2em;
  font-size: 30px;
  text-align: center;
}

.sudoku-table-cell-seperator {
  border: 1px solid #959595;
  border-right-color: black;
  border-right-width: 5px;
  height: 2em;
  width: 2em;
  font-size: 30px;
  text-align: center;
}


/* 
==================
Number Pad
==================
*/
.number-pad {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  flex-flow: row wrap;
  margin-left: 40px;
  max-width: 215px;
}

.number-pad-button {
  width: 60px;
  height: 60px;
}

.number-pad-button {
  background-color: #e6e6e6;
  border: 1px solid #959595;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 14px;
  font-size: 30px;
  font-weight: bold;
}
